.analytics-page {
    grid-template-rows: min-content min-content 1fr;
    padding-top: 17px;

    .analytics-header {


        ul {
            display: flex;
            gap: 30px;
            margin-right: 15px;

            li {
                padding: 3px;
                text-decoration: underline;

                &.active {
                    color: green;
                    border-bottom: 1.5px solid green;
                    margin-bottom: -1.5px;
                }
            }
        }
    }

    // .analytics-filter-container {
    //     background-color: #c0bcbc38;;
    //     position: fixed;
    //     width: 100%;
    //     height: 30px;
    //     left: 0;
    // }

    .analytics-container {
        gap: 10px;

        & > * {
            border: 1px solid grey;
            min-width: 350px;
            max-width: 50%;

            @include for-wide-mobile-layout {
                max-width: unset;
                min-width: unset;
            }
        }
    }
}
